/* Your tabs CSS code here */
.tabs {
  display: flex;
  justify-content: flex-start;
}

.tab {
  color: #555555;
  opacity: 0.5;
  padding: 5px 5px;
}

.tab.active {
  color: #555555;
  opacity: 1;
  padding: 5px 5px;
  border-bottom: solid grey;
}

.tab:hover {
  color: #555555;
  opacity: 0.8;
}
